<!--The whole content below can be removed with the new code.-->

<div class="container">

    <form class="form-group">
        <div class="form-group">
          <label for="title"> Enter position: </label>
          <input type="text" id="title" [(ngModel)]='_tit' name="title" >
        </div>
        <div class="form-group">
          <label for="place"> Enter place: </label>
          <input type="text" id="place" [(ngModel)]='_pla' name="place" >
        </div>
        <div class="form-group">
          <label for="bullet"> Enter bullet:</label>
          <textarea class="form-control" id="bullet" [(ngModel)]='_bul' name="bullet" rows="3"></textarea>
        </div>
        <div>
          <button class="btn primary-btn" (click)='setTitle(_tit, _pla, _bul)'> Submit</button>
          <button class="btn danger" (click)='clearTitle(_bul)'> Clear</button>
        </div>
        <div>
            <label class="radio-inline"><input type="radio" name="optradio" checked="true"> Education</label>
            <label class="radio-inline"><input type="radio" name="optradio"> Work</label>
            <label class="radio-inline"><input type="radio" name="optradio"> Additional</label>
        </div>
    </form>

</div>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <h4>{{title}}</h4>
        </div>
        <div class="col-sm-10" class="text-right">
            <h4 text="right" >{{place}}</h4>
        </div>

    </div>
    <ul>
      <li *ngFor='let b of bul'>
        {{b.bullet}} 
        </li>
    </ul>
</div>

