
    
    <h4> Education</h4>
    <div class="contianer">

            <button class="btn btn-prm" (click)="flipper(showForm)">Enter new Position </button>

    </div>

    
<bullet-form [seeForm]="showForm" (newBul)=addBullet($event) (closeForm)="flipper(!$event)"></bullet-form>


<div class="container" [hidden]="!showForm">


    <div class="row ">
        <div class="col-xs-6 pull-left">
            <ng-container >
                <app-bullet *ngFor="let t of bulList" [transBul]="t" class="list-group-item clearfix"></app-bullet>
            </ng-container>
        </div>
    </div>       


</div>

