  
<hr>
  <div class="container" >         
     <div class="row"> 
         <div class="col-md-6 "> 
               <div class="row">          
                    <h4 class="col-md-2"> {{this.sectionName}}</h4>
                    <button class="btn btn-prm col-md-1.5  pull-left" style="margin-left: 20px" (click)="flipper(showForm)" (click)="assignSection('Education')"> + </button>                
               </div>
                <div  class="row"
                        *ngFor="let t of bulList; let i=index">     
                        <app-bullet 
                            [transBul]="t" 
                            [id]="i"
                            *ngIf="t.section=='Education'" 
                            (delBul)="deleteBul($event)">
                        </app-bullet>     
                </div>
         </div>         
                <div class="col-md-6 "> 
                    <bullet-form [seeForm]="showForm" [whichSection]="sect" (newBul)=addBullet($event) (closeForm)="flipper(!$event)"></bullet-form>
                </div>
    </div>  
 </div>