
 
    
<hr>
<div class="container">  

    <div class="row">  
        <div class="col-md-2">
            <h4 class="col-md-1"> Education</h4>
            <button class="btn col-md-1.5 pull-right" (click)="flipper(showForm)" (click)="assignSection('Education')"> + </button>
        </div>
    </div>

    <div class="container" [hidden]="!showForm">

                 <div *ngFor="let t of bulList; let i=index">     
                    <app-bullet [transBul]="t" *ngIf="t.section=='Education'" (delBul)="deleteBul($event)"></app-bullet>     
                 </div>
    </div>

    <div class="row">  

        <div class="col-md-6">
            <h4 class="col-md-4"> Work Experience</h4>
            <button class="btn btn-prm col-md-1.5 pull-left" (click)="flipper(showForm)" (click)="assignSection('Work')"> + </button>
        </div>
    </div>

    <div class="container" [hidden]="!showForm">

                 <div *ngFor="let t of bulList">     
                    <app-bullet [transBul]="t" *ngIf="t.section=='Work'" (delBul)="deleteBul($event)"></app-bullet>     
                 </div>
    </div>

    <div class="row">  

        <div class="col-md-2">
            <h4 class="col-md-1"> Additional</h4>
            <button class="btn btn-prm col-md-1.5 pull-right" (click)="flipper(showForm)" (click)="assignSection('Additional')" (delBul)="deleteBul($event)"> + </button>
        </div>
    </div>

    <div class="container" [hidden]="!showForm">

                 <div *ngFor="let t of bulList; ">     
                    <app-bullet [transBul]="t" *ngIf="t.section=='Additional'" (delBul)="deleteBul($event)"></app-bullet>     
                 </div>
    </div>

</div>
   


<bullet-form [seeForm]="showForm" [whichSection]="sect" (newBul)=addBullet($event) (closeForm)="flipper(!$event)"></bullet-form>

<!--
<div class="container" [hidden]="!showForm">

    <div class="row ">
        <div class="col-md-6 pull-left">         
                <app-bullet *ngFor="let t of bulList" [transBul]="t" class="list-group-item clearfix"></app-bullet>         
        </div>
    </div>       
</div>-->

