
<div class="container">
 <div class="row ">
        <div class="col-md-7"> 
            <div class="margin" style="border: solid grey 1px; border-radius:5px; ">
                  
                  <div class="row">
                        <!--<div class="col-md-0.5"> <h5>{{id}}</h5></div>-->
                        <div class="col-md-5"> <h4> {{transBul.title}} </h4> </div>
                        <div class="col-md-1 pull-right" style="margin-right: 60px"> <h4> {{transBul.place}} </h4> </div>
                  </div>
                
                  <div class="padding: 15px"> {{transBul.bullet}} </div>

                  <div class="row">
                    <button class="btn btn-success col-md-1 button-margin "> Edit </button>
                    <button class="btn btn-danger col-md-1 button-margin " (click)="deleteBullet(id)" > Delete </button>
                  </div>
            </div>
        </div>
  </div>     
</div>  

